
<p><b>Gentile Ttattà Go</p></b>
<br>

<p>Con il presente modulo comunico il recesso dal contratto di vendita ralativo ai seguenti beni/servizi: <%= @withdrawal_form.service_name%></p>
<p>Ordine numero: <%= @withdrawal_form.order_number%></p>
<p>Data ordine: <%= @withdrawal_form.order_date%></p>
<p>Nome e Cognome: <%= @withdrawal_form.name%> <%= @withdrawal_form.last_name%></p>
<p>Indirizzo: <%= @withdrawal_form.address%></p>
<p>Email associata all'account da cui è stato effettuato l'ordine: <%= @withdrawal_form.email%></p>

